/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden;
  padding: 0 4rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.ml {
  margin-left: 0.5rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}

.mr {
  margin-right: 0.5rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}

.mt {
  margin-top: 0.5rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-8 {
  margin-top: 8rem;
}

.mb {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-7 {
  margin-bottom: 7rem;
}

.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-8 {
  margin: 8rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  /* margin-right: 0.5rem; */
  transition: opacity 0.2s ease-in;
  outline: none;
}

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  /* border: #ccc solid 1px; */
}

.border-light {
  border: #ccc solid 1px;
}

.btn-primary-outline {
  background-color: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-primary-outline:hover{
  background-color: var(--primary-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

/* .bg-light,
.badge-light {
  border: #ccc solid 1px;
} */

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
  background-color: inherit;
  border: 0;
}

button:focus{
  outline: none;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 4rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar li {
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Profiles Page */
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Profile Page */
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}

.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}

.profile-about {
  grid-area: about;
  text-align: center;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp h2,
.profile-edu h2 {
  margin-bottom: 1rem;
}

.profile-exp > div,
.profile-edu > div {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: #ccc 1px dotted;
}

.profile-exp > div:last-child,
.profile-edu > div:last-child {
  border: 0;
}

.profile-exp p,
.profile-edu p {
  margin: 0.5rem 0;
}

.profile-github {
  grid-area: github;
}

.profile-github .repo {
  display: flex;
}

.profile-github .repo > div:first-child {
  flex: 7;
  flex-basis: 70%;
}

.profile-github > div:last-child {
  flex: 3;
  flex-basis: 20%;
}

/* Posts Page */
.post-form .post-form-header {
  background: var(--primary-color);
  padding: 0.5rem;
}

/* .post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;
} */

.post-container {
  margin-bottom: 1rem;
}

.post > div:first-child {
  text-align: center;
}

.post img {
  width: 100px;
}

.post .comment-count {
  background: var(--light-color);
  color: var(--primary-color);
  padding: 0.1rem 0.2rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

.post-liked {
  color: #D44D5C;
}

.post-date {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.post-comment-edit {
  margin-top: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex: 1 1 auto;
}

.post-comment-edit .post-comment-input-field {
  display: flex;
  flex: 1 1 auto;
  border-radius: 8px;
}

.post-comments {
  margin-left: 30px;
}

.post-comment-bullet {
  display: flex;
  position: absolute;
  flex: 0 0 auto;
  top: 50%;
  left: 0px;
  min-height: 50%;
  border-top: 1px solid rgba(0,0,0,0.14);
  width: 16px;
}

.comment-container {
  display: flex;
  position: relative;
  border-left: 1px solid rgba(0,0,0,0.14);
  padding-top: 1rem;
}

.comment {
  padding: 1rem;
  margin: 0 0 0 16px;
  /* border-left: 2px solid #bc9be0; */
  background: var(--light-color);
  /* border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.1); */
  /* padding: 30px; */
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

/* .comment .round-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
} */

.comment .comment-info {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comment-info .comment-text {
  word-wrap: break-word;
}

.comment-container:last-child::after  {
  content: "";
  position: absolute;
  background-color: #fff;
  color: red;
  font-weight: bold;
  top: calc(50% + 1px);
  height: 50%;
  left: -1px;
  width: 2px;
}

.comments-actions {
  margin-top: 0.5rem;
}

/* Mobile Styles */
/* @media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  
  .round-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .profile ul {
    display: none;
  }

  .profile-top img,
  .profile img {
    width: 90px;
    height: 90px;
  }

  .profile-grid {
    grid-template-areas:
      'top'
      'about'
      'exp'
      'edu'
      'github';
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
  .post img {
    width: 70px;
    height: 70px;
  }
} */

.dashboard-grid, .developers-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 3fr 1fr;
}

.posts-container {
  overflow-y: auto;
  /* margin: 1rem; */
  padding: 1rem;
}

.profile-summary-container {
  /* margin: 1rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.user-avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.user-details {
  margin-top: 1rem;
  display: flex;
}

.hidden {
  display: none;
}

.popover-position {
  position: fixed;
  top: 2.25rem;
  right: 0.75rem;;
}

.popver-content {
  position: fixed;
  transform: translateX(-100%);
}


.overlay-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4; 
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.overlay-content {
  display: flex;
  flex-direction: column;
}

.overlay-action-btn {
  padding: 0 8px;
  display: flex;
  background-color: #f5f5f5;
  outline: none;
  border: #f5f5f5;
  font-weight: bold;
  cursor: pointer;
}

.overlay-item-btn {
  padding: 0.4rem 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  cursor: pointer;
  transition: ease-in-out 200ms;
  border: 0;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.overlay-item-label {
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
  color: #1a1919;
}

.user-avatar-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  background: linear-gradient(to right, red, orange);
}
.user-avatar-wrapper .user-img {
  width: 100%;
  /* border-radius: 50%; */
  height: 100%;
  border-radius: 50%;
  padding: 2px;
}

.base-overlay-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.base-overlay-title-wrapper {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
}

.base-overlay-content {
  display: flex;
  flex-direction: column;
}

.base-overlay-action-btn {
  display: flex;
  padding: 8px 8px;
  outline: none;
  background-color: #f4f4f4;
  border-radius: 0 0 8px 8px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.banner-image {
  height: 180px;
  width: 100%;
  border-radius: 8px 8px 0 0;
  margin-bottom: 1rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -.5rem;
  /* padding: 0 .5rem; */
}

.profile-header .user-avatar {
  margin-top: -3rem;
}

.profile-tab-btn {
  /* padding: 0.5rem 0; */
  color: var(--dark-color);
  font-weight: bold;
  outline: none;
  border: 1;
  cursor: pointer;
}

.profile-tab-btn-selected {
  border-bottom: 2px solid var(--primary-color);
}

.hidden {
  display: none;
}

.profile-bio {
  padding-bottom: 1rem;
  overflow-y: auto;
  white-space: pre-wrap;
}

.skills {
  white-space: pre-wrap;
}

/* #arrow {
  position: absolute;
  width: 10px;
  height: 10px;
}

#arrow::after {
  content: " ";
  background-color: white;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: -25px;
  left: 0;
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
}

/* &[data-popper-placement^='top'] > #arrow {
  bottom: -30px;
  :after {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
} */


/* Grid Styles */
.main-grid-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  /* add background  */
}

.grid-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  /* height: 100vh; */
  /* overflow-y: auto; */
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: #fff;
  /* position: sticky;
  top: 0;
  z-index: 100; */
  /* border: 1px solid red; */
}

.sticky-header {
  /* padding-top: 1rem; */
  width: 100%;
  /* display: flex; */
  position: sticky;
  top: 0;
  z-index: 100;
}

.fixed-panel-container {
  /* padding-top: 3rem; */
  height: 100vmin;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: sticky;
  top: 0;
}

/* Developer Card styles */

.developer-card-container {
  width: 100%;
  border-radius: 1rem;
  background-color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.developer-card-user-details-container {
  padding: 1rem;
  border: 0;
  border-bottom: '1px solid #ccc';
  display: flex;
  flex-direction: column;
}

.developer-card-follow-btn-container {
  padding: 1rem;
}

.show-more-btn {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  color: var(--dark-color);
}

.round-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--light-color);
  cursor: pointer;
}

/* mobile nav */
.mobile-nav-container {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #efefef;
}

.mobile-nav-item-icon {
  cursor: pointer;
  color: #000;
  height: 1rem;
  width: 1rem;
}

.active {
  color: var(--primary-color);
}

/* mobile header */
.mobile-header-container {
  padding: 0.75rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

.mobile-header-action-btns-container {
  display: flex;
  cursor: pointer;
}

/* Searchbox */
.searchbox-container {
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 1rem;
  color: #000;
  display: flex;
  align-items: center;
}

.searchbox-container input {
  width: 100%;
  padding: .5rem .5rem;
  border-radius: 1rem;
  border: 0;
  background-color: #f5f5f5;
  letter-spacing: 0.1px;
  font-size: 1rem;
}

.searchbox-container input:focus {
  outline: none;
}

.search-header-container {
  padding: 0.75rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

/* Toast */
.toast-container {
  font-size: 14px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999999;
  top: 12px;
	right: 12px;
	transition: transform .6s ease-in-out;
	animation: toast-in-right .7s;
}

.toast {
  /* background: #fff; */
	transition: .3s ease;
	position: relative;
	pointer-events: auto;
	overflow: hidden;
	margin: 0 0 6px;
	padding: 25px;
	margin-bottom: 15px;
	width: 300px;
	max-height: 100px;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px #999;
	/* color: #000; */
	opacity: .9;
	background-position: 15px;
	background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.toast:hover {
  box-shadow: 0 0 12px #fff;
	opacity: 1;
	cursor: pointer
}

.toast-image-contianer {
  float: left;
  margin-right: 15px;
  font-size: 1rem;
}

.toast-content {
  font-weight: 700;
	font-size: 16px;
	text-align: left;
  margin-left: 0.5rem;
	margin-top: 0;
	margin-bottom: 6px;
  width: 300px;
  height: 18px;
}

.toast-image  {
  /* width: 40px;
  height: 40px; */
  font-size: 1.5rem;
}
